body{
  font-family: Inter,sans-serif;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page{
  width: 550px;
  background: #FFF;
}

.nav{
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  max-height: 55px;
  margin-bottom: 27px;
}
.nav--logo{
  margin-right: 8px;
}
.nav--title{
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.085px;
}
.main{
  padding: 18px 40px 28px;
}
.divider{
  border: 1px solid #F5F5F5;
  margin: 18px auto;
}

.card{
  display: flex;
}
.card--overlay{
  margin: 20px 0 0 20px;
}
.card--image{
  width: 125px;
  height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.card--head{
  display: flex;
  align-items: center;
  margin: 0 0 5px;
}
.card--icon{
  margin-right: 4px;
  width: 7px;
}
.card--location{
  color: #2B283A;
  font-family: Inter,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0 12px 0 0;
}

.card--link{
  color: #918E9B;
  font-family: Inter,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.card--link:hover{
  color: #2B283A;
}
.card--title{
  color: #2B283A;
  font-family: Inter,sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.card--date{
  color: #2B283A;
  font-family: Inter,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card--description{
  max-width: 400px;
  color: #2B283A;
  font-family: Inter,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px ; /* 15.36px */
}